/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
	margin: 0;
	padding: 0;
	background: #EEEEEE;
	overflow: none;
}

@media only screen and (min-width: 1000px) {
	.brand-logo {
		margin-left: 10px !important;
	}
}

@media only screen and (min-width: 600px) {
	.card-image .card-title {
		font-size: 40px;
	}
	.brand-logo img {
		padding: 20px;
		height: 64px;
	}
}

@media only screen and (max-width: 600px) {
	.brand-logo img {
		padding: 15px;
		height: 56px;
	}
}

@media only screen and (min-width: 400px) {
	.card-image .card-title {
		font-size: 30px;
	}
}

nav {
  position: fixed;
  z-index: 1;
}

#toast-container {
	padding: 10px;
}

nav ul a, nav .brand-logo, .card-title, .button-colapse {
	color: #000000 !important;
}

#main {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
	overflow: auto;
}

#content {
	padding: 20px;
	max-width: 800px;
	margin: 56px auto 0px auto;
}

.card-image {
	max-height: 300px;
}

.card-image .card-title {
	color: #FFFFFF !important;
}

table, tr, th {
  font-weight: normal !important;
  margin: 0px !important;
  padding: 0px !important;
}

.card .delete {
  color: #e51c23 !important;
  float: right !important;
  margin-right: 0px !important;
}

#float {
  position: absolute;
  right: 20px;
  bottom: 10px;
  z-index: 1;
}

/* Styles for Setup */

#setup {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #000000 url(../img/bg.jpg) no-repeat center fixed;
	z-index: 1;
	display: none;
	overflow: auto;
}

#setup nav {
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
}

#setup > div {
	padding: 20px;
	max-width: 800px;
	margin: 56px auto 0px auto;
}